!!! 5
html(lang="en")
  head(ng-controller="HEAD")
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(content="7korobi@gmail.com", name="Author")
    meta(name="viewport", content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0")

    script(src="http://giji.sytes.net/assets/giji.js")
    script(src="http://giji.sytes.net/assets/application.js")
    script(src="http://giji.sytes.net/assets/data.js")
    != SocketStream
    link(href="mailto:7korobi@gmail.com", rev="Made")
    link(media="screen", rel="stylesheet", type="text/css", href="{{css.href}}")

    meta(charset="utf-8")
    title {{main.title}}

  body
    #outframe.outframe
      #contentframe.contentframe
        p(ng-controller="CSS")
          a(ng-click="move('cinema800')", ng-class="name.cinema800") 煉瓦
          |  
          a(ng-click="move('cinema480')", ng-class="name.cinema480") 480
          | ｜ 
          a(ng-click="move('night800')", ng-class="name.night800") 月夜
          |  
          a(ng-click="move('night480')", ng-class="name.night480") 480
          | ｜ 
          a(ng-click="move('star800')", ng-class="name.star800") 蒼穹
          |  
          a(ng-click="move('star480')", ng-class="name.star480") 480
          | ｜ 
          a(ng-click="move('wa800')", ng-class="name.wa800") 和の国
          |  
          a(ng-click="move('wa480')", ng-class="name.wa480") 480
        .inframe(ng-controller="MAIN")
          h2 {{title}}
          hr.invisible_hr
          .messages
            .message_filter(ng-repeat="log in logs | orderBy:'time'", ng-bind-html-unsafe="message(log)")
          .caution
            | {{caution}}
          .formpl_frame

          address
            | 人狼議事キャラセット by りりんら
            br
            | 管理 sol・la     
            a(href="mailto:7korobi@gmail.com")
              | ななころび
            br
            | 人狼議事で使っているキャラチップは、原則として他所での利用を許諾しておりません。ご了承ください。

      #footer
      #sayfilter.sayfilter(ng-controller="TAB")
        nav
          span#filter_header.page.sayfilter_heading
            a.btn(ng-click='move("info")', ng-class="info")
              | 操作
          span#filter_header.page.sayfilter_heading
            a.btn(ng-click='move("link")', ng-class="link")
              | 移動
          span#filter_header.page.sayfilter_heading
            a.btn(ng-click='move("calc")', ng-class="calc")
              | 計算
        ng-switch(on="item")
          h3.sayfilter_heading
          .insayfilter(ng-switch-when="link")
            .paragraph
              h4.sayfilter_caption_enable 
                | 他のページヘ
              .sayfilter_content
                nav.pagination(ng-controller="PAGER")
                  span.page(ng-show="show.first")
                    a(ng-class="show.first", ng-click="move(first)") {{first}}
                  span.page(ng-show="show.second")
                    a(ng-class="show.second", ng-click="move(second)") {{second}}
                  span.page(ng-show="show.prev_gap") …
                  span.page(ng-show="show.prev")
                    a(ng-class="show.prev", ng-click="move(prev)") {{prev}}
                  span.page(ng-show="show.current")
                    a(ng-class="show.current", ng-click="move(current)") {{current}}
                  span.page(ng-show="show.next")
                    a(ng-class="show.next", ng-click="move(next)") {{next}}
                  span.page(ng-show="show.next_gap") …
                  span.page(ng-show="show.penu")
                    a(ng-class="show.penu", ng-click="move(penu)") {{penu}}
                  span.page(ng-show="show.last")
                    a(ng-class="show.last", ng-click="move(last)") {{last}}
              h4.sayfilter_caption_enable 
                | 他の物語へ

          .insayfilter(ng-switch-when="info")
            .paragraph
              h4.sayfilter_caption_enable 
              .sayfilter_content

          .insayfilter(ng-switch-when="calc")
            .paragraph
              h4.sayfilter_caption_enable 
              .sayfilter_content

