!!! 5
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(content="7korobi@gmail.com", name="Author")
    meta(name="viewport", content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0")

    link(href="mailto:7korobi@gmail.com", rev="Made")
    script(src="http://localhost:4000/assets/giji.js")
    script(src="http://localhost:4000/assets/application.js")
    script(src="http://localhost:4000/assets/data.js")
    != SocketStream
    meta(charset="utf-8")
    title Welcome

  body
    #outframe.outframe
      #contentframe.contentframe
        p.css_changer
        .inframe
          h2 Welcome to your new realtime app!
          hr.invisible_hr
          .messages
          .caution
          .formpl_frame

          address
            | 人狼議事キャラセット by りりんら
            br
            | 管理 sol・la     
            a(href="mailto:7korobi@gmail.com")
              | ななころび
            br
            | 人狼議事で使っているキャラチップは、原則として他所での利用を許諾しておりません。ご了承ください。

      #footer
      #sayfilter.sayfilter
        ul.nav.nav-pills
          li#filter_header.sayfilter_heading.active
            a(href='#info', data-toggle="tab")
              | 操作
          li#filter_header.sayfilter_heading
            a(href='#link', data-toggle="tab")
              | 移動
          li#filter_header.sayfilter_heading
            a(href='#calc', data-toggle="tab")
              | 計算
        .tab-content
          #link.tab-pane
            h3.sayfilter_heading 
            .insayfilter
              .paragraph
                h4.sayfilter_caption_enable 
                .sayfilter_content
          #info.tab-pane.active
            h3.sayfilter_heading 
            .insayfilter
              .paragraph
                h4.sayfilter_caption_enable 
                .sayfilter_content
          #calc.tab-pane
            h3.sayfilter_heading 
            .insayfilter
              .paragraph
                h4.sayfilter_caption_enable 
                .sayfilter_content

