table.formpl_common
  tbody
    tr.say
      td.img
        img(name="chr_img", src="http://giji.sytes.net/images/portrate/{{face_id}}.jpg")
      td.field
        .msg
          .formpl_content
            | {{fullname}}
          .formpl_content
            input(type="submit", value="このストーリーから退場する。")
.clearboth
  hr.invisible_hr
