table.formpl_common#form-entry
  tr.say
    td.img
      img(name="chr_img", src="http://giji.sytes.net/images/portrate/{{id}}.jpg")
    td.field
      .msg
        .formpl_content
          input(type="submit", value="このイベントに登場する")
.clearboth
  hr.invisible_hr
